<div style="width: 400px;">
  <h1 mat-dialog-title class="text-center">Create Appointment</h1>

  <form
          style="font-size: 12px"
          [formGroup]="registerForm"
          (ngSubmit)="onSubmit()"
        >

        <div class="d-flex justify-content-center text-center">
          <div class="row">
            <div class="col-12">
              <mat-form-field appearance="outline">
                <mat-label
                  >First Name</mat-label
                >
                <input
                  type="text"
                  placeholder="Please enter your full name"
                  matInput
                  formControlName="firstName"
                />
                <mat-error>Please enter your name!</mat-error>
              </mat-form-field>
            </div>
            <div class="col-12">
              <mat-form-field appearance="outline">
                <mat-label
                  >Last Name </mat-label
                >
                <input
                  type="text"
                  placeholder="Please enter your first name"
                  matInput
                  formControlName="lastName"
                />
                <mat-error>Please enter your last name!</mat-error>
              </mat-form-field>
            </div>
            <div class="col-12">
              <mat-form-field appearance="outline">
                <mat-label
                  >Email </mat-label
                >
                <input
                  type="email"
                  placeholder="Please enter your email"
                  matInput
                  formControlName="email"
                />
                <mat-error>Please enter your email!</mat-error>
              </mat-form-field>
            </div>
            
            <div class="col-12">
              <mat-form-field appearance="outline">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender">
                  <mat-option value="Male">Male</mat-option>
                  <mat-option value="Female">Female</mat-option>
                  <mat-option value="Other">Other</mat-option>
                </mat-select>
                <mat-error>Please select your Gender!</mat-error>
              </mat-form-field>
            </div>
            <div class="col-12">
              <mat-form-field appearance="outline">
                <mat-label
                  >Age </mat-label
                >
                <input
                  type="number"
                  placeholder="Please enter your email"
                  matInput
                  formControlName="age"
                />
                <mat-error>Please enter your age!</mat-error>
              </mat-form-field>
            </div>
            
            <div class="col-12">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input 
                matInput 
                formControlName="date"
                [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker">
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-12">
              <mat-form-field appearance="outline">
                <mat-label>Time</mat-label>
                <mat-select formControlName="time">
                    <mat-option *ngFor="let t of timeArray" [value]="t">{{t}}:00</mat-option>
                </mat-select>
                <mat-error>Please select your Gender!</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center" mat-dialog-actions>
          <button mat-button mat-dialog-close >No Thanks</button>
          <button type="submit" class="btn btn-success" cdkFocusInitial>Submit</button>
        </div>
      </form>
</div>
