<div class="container">
    <div class="row">
        <div class="col-3">
            <mat-form-field appearance="fill">
                <mat-select [(ngModel)]="selectedMonth" (ngModelChange)="onMonthChange($event)">
                    <ng-container *ngFor="let m of months; index as i" >
                        <mat-option [value]="i">
                            {{m}}
                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field appearance="fill">
                <mat-select [(ngModel)]="selectedYear" (ngModelChange)="onYearChange()">
                    <mat-option *ngFor="let y of year" [value]="y">
                        {{y}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-3">
            <button mat-raised-button color="primary" (click)="createAppointment()">Create Appointment</button>
        </div>
    </div>
    <table class="table">
        <thead>
          <tr>
            <ng-container *ngFor="let day of days">
                <th scope="col">{{day}}</th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let dates of tableDates">
                <tr>
                    <ng-container *ngFor="let date of dates">
                        <td>
                            <app-date [date]="date"></app-date>
                        </td>
                    </ng-container>
                </tr>
            </ng-container>
        </tbody>
      </table>
</div>